@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  letter-spacing: -0.75px;
}

.bg {
  position: fixed;
  width: 100%;
  height: 100vh;
  background: url(./images/Untitled-2.jpg);
  background-size: cover;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-position: center;
}

.login-form {
  width: 20%;
  height: auto;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding: 1rem 1.5rem;
  gap: 1.4rem;
}

.google-icon img {
  width: 20px;
  height: 20px;
}

.heading {
  font-size: clamp(1rem, 0.2vw + 0.2rem, 2rem);
  font-weight: 900;
}

.enter-details {
  font-weight: 400;
  font-size: 0.8rem;
}

.top-session {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
  padding-bottom: 0.4rem;
}

.lower-session {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  padding-top: 0.8rem;
}

.input-group {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  row-gap: 1.5rem;
}

.input-field input {
  width: 100%;
  height: auto;
  padding: 1rem 1rem;
  border-radius: 0.5rem;
  border: 0.1px solid #d4d4d4;
  outline: none;
  padding: 1rem 0.8rem;
}

.input-field label {
  font-size: 0.9rem;
  font-weight: 400;
  padding-bottom: 0.3rem;
}

input::placeholder {
  color: #aeaeae;
}

.input-field {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  row-gap: 0.1rem;
}

.forgot-password {
  font-size: 0.9rem;
  font-weight: 400;
  color: #2563eb;
  cursor: pointer;
}

.forgot-password:hover {
  text-decoration: underline;
}

.forgot-password a {
  text-decoration: none;
  color: #2563eb;
}
.login-button button {
  width: 100%;
  padding: 0.9rem;
  font-size: 1rem;
  font-weight: 500;
  border: none;
  border-radius: 1rem;
  background-color: #000;
  color: #fff;
  cursor: pointer;
  font-weight: 400;
  font-size: 0.9rem;
}

.login-button {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-button button:hover {
  background-color: #8f8f8f;
}

.google-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 2rem;
  cursor: pointer;
  border: 0.1px solid #d4d4d4;
  padding: 0.5rem 0.5rem;
  border-radius: 1rem;
  font-size: 0.9rem;
}

input:focus {
  border: 1px solid #000000;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.dont-have-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 0.8rem;
}

.dont-have-container a {
  color: #000000;
  font-weight: 500;
  font-size: 0.9rem;
}

.dont-have-container p {
  font-size: 0.9rem;
  font-weight: 400;
}
